AI Podcast Generator with Webhooks.json
{
  "name": "AI Podcast Generator with Webhooks",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        296,
        32
      ],
      "id": "6ea32687-a367-468d-bb30-1dc91d2e6981",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MdIdBqktfymXoCrv",
          "name": "Google Gemini(PaLM) Api account 9575"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global.api.murf.ai/v1/speech/stream",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "YOUR_MURF_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "voiceId",
              "value": "Charles"
            },
            {
              "name": "style",
              "value": "Conversational"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "locale",
              "value": "en-US"
            },
            {
              "name": "model",
              "value": "FALCON"
            },
            {
              "name": "format",
              "value": "WAV"
            },
            {
              "name": "sampleRate",
              "value": "24000"
            },
            {
              "name": "channelType",
              "value": "MONO"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -192
      ],
      "id": "99321f31-ed89-40db-a883-2fcb815cd632",
      "name": "Generate Voice Audio with Murfal"
    },
    {
      "parameters": {
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "16c9387d-cfb6-4212-829e-94e2f52c82f9",
      "name": "Podcast Request Receiver",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional podcast script writer. Create engaging, informative podcast content based on the given topic:{{ $json.chatInput }} . Length should be 2 minute when spoken. Just give the content only without labelling",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        -192
      ],
      "id": "2fba8f04-ef2b-4122-b717-5b2a12efb1e0",
      "name": "Podcast Script Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        -192
      ],
      "id": "6d2da447-a409-4098-b7c3-6855d36284d1",
      "name": "Audio Response Sender"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice Audio with Murfal": {
      "main": [
        [
          {
            "node": "Audio Response Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Request Receiver": {
      "main": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Script Generator": {
      "main": [
        [
          {
            "node": "Generate Voice Audio with Murfal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "070f4a37-ff3d-48c4-9b71-2cab06bde30e",
  "meta": {
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "pqLQlXOJcU1JxlfI",
  "tags": []
}